<section class="post-comments">

    {% if site.comment.livere %}

    <div id="lv-container" data-id="city" data-uid="{{site.comment.livere}}">
        <script type="text/javascript">
            (function (d, s) {
                var j, e = d.getElementsByTagName(s)[0];

                if (typeof LivereTower === 'function') { return; }
                j = d.createElement(s);
                j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
                j.async = true;
                e.parentNode.insertBefore(j, e);
            })(document, 'script');
        </script>
        <noscript>为正常使用来必力评论功能请激活JavaScript</noscript>
    </div>

    {% elsif site.comment.gitalk %}
    <script>

        <div id="gitalk-container"></div>
        var gitalk = new Gitalk({
            clientID: '{{ site.comment.gitalk_clientID }}',
            clientSecret: '{{ site.comment.gitalk_Secret }}',
            repo: '{{ site.comment.gitalk_repo }}',
            owner: '{{ site.comment.gitalk_owner }}',
            admin: '{{ site.comment.gitalk_admin }}',
            id: location.pathname,      // Ensure uniqueness and length less than 50{{ page.title }}
            distractionFreeMode: '{{ site.comment.distractionFreeMode }}'  // Facebook-like distraction free mode
        })

        gitalk.render('gitalk-container')
    </script>

    {% endif %}

</section>